input{
    background-color: #153540;
    border: 2px solid #0b171f;
    border-radius: 4px;
    padding-left: 10px;
    height: 2rem;
    width: 18rem;
    margin-right: 1rem;
    color: white;
    font-size: larger;
}
.visualize{
    display: inline-block;
    margin: 1rem 1rem 0;
}

body.dark input {
    background-color: #153540;
    color: white;
    border: 2px solid #0b171f;
}

body.dark input:focus {
    border-color: #8ab4f8;
}

body.light input {
    background-color: #e0e0e0;
    color: #333;
    border: 2px solid #ccc;
}

body.light input:focus {
    border-color: #646cff;
}